* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sky,
.grass,
.road,
.lines {
  position: relative;
  width: 100vw;
}

.sky {
  height: 40vh;
  background-color: skyblue;
}

.grass {
  height: 30vh;
  background-color: seagreen;
}

.road {
  height: 30vh;
  background-color: dimgray;
  border: 10px solid grey;
  border-left: none;
  border-right: none;
}

.lines {
  position: absolute;
  top: 50%;
  border-top: 5px dashed #fff;
  height: 0px;
  /* z-index: 10; */
}

/*// ELEMENTS TO ANIMATE //*/
.mario,
.luigi {
  height: 50%;
  position: absolute;
  top: -2rem;
  left: 0;
  animation-name: mario;
  animation-duration: 8s;
  /* animation-fill-mode: forwards;
  animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* animation-delay: 2s; */

  /* --- Repeating the Animation --- */
  animation-iteration-count: infinite;

  /* --- animation timing function --- */

  /* animation-timing-function: ease-in; */
  animation-timing-function: linear;
}

.luigi {
  animation-direction: reverse;
  animation-duration: 5s;
  top: 4rem;
  /* animation-timing-function: ease-out; */
  animation-timing-function: linear;

  /* --- We can use own function --- */
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* --- // KEYFRAMES // --- */
@keyframes mario {
  from {
    transform: translateX(-10vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes luigi {
  from {
    transform: translateX(-10vw);
  }

  to {
    transform: translateX(100vw);
  }
}
